#main-body {
    min-height: 100vh;
    margin: 0;

    display: grid;
    grid-template-rows: auto 1fr auto;
}

#content-bg{
    background-image: url("https://wallpapercave.com/wp/wp1955108.jpg");
}